variables:
  # This will supress any download for dependencies and plugins or upload messages which would clutter the console log.
  # `showDateTime` will show the passed time in milliseconds. You need to specify `--batch-mode` to make this work.
  # Lifted from https://gitlab.com/gitlab-org/gitlab-ci-yml/blob/master/Maven.gitlab-ci.yml
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"

cache:
    key: "$CI_JOB_NAME"
    paths:
        - .m2/repository

stages:
  - build
  - deploy
  - release

build:
    stage: build
    image: docker-hub.squiz.net/funnelback-rnd/gitlab-ci-docker:maven-central

    script:
        - mvn -B -U clean install
        - echo $CI_COMMIT_BRANCH
        - rm -rf .m2/repository/com/funnelback/

    artifacts:
        expire_in: 1 hr
        paths:
            - target/*
        reports:
            junit:
                - "*/target/surefire-reports/TEST-*.xml"
                - "*/target/failsafe-reports/TEST-*.xml"

    tags:
        - purpose/general
        - access/squiz-network

Trigger plugins mono repo:
    stage: deploy
    variables:
        FUNNELBACK_SHARED_BRANCH: $CI_COMMIT_BRANCH
    trigger:
        project: funnelback-rnd/funnelback-plugins-mono-repo
        branch: master
        strategy: depend

release:
    stage: release
    when: manual
    only:
        - /^release-.*$/
    image: docker-hub.squiz.net/funnelback-rnd/gitlab-ci-docker:maven-central
    before_script:
        - ./pre-release.sh
    script:
        - echo "should fail"

    artifacts:
        expire_in: 1 hr
        paths:
            - target/*
        reports:
            junit:
                - "*/target/surefire-reports/TEST-*.xml"
                - "*/target/failsafe-reports/TEST-*.xml"

    tags:
        - purpose/general
        - access/squiz-network
