/*
****
    Funnelback FTL Help Styles
    Steve Chan 2016
--
    Blue :#232b3b
    Red :#e42b12 
****
*/

a {
    color: #1e5a99 !important;
}

a[target=main] {
    display: block !important
}

/* Reset */
* {
    border: none;
}

/* Clean */
br {
    display: none
}

/* Styles */
body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';
    color: #444;
    background-color: #fff;
    padding: none;
    font-size: 0.93rem;
    padding: 0;
    margin: 0;
}

#content {
    background: #fff;
    padding: 25px;
    max-width: 1050px;
    float: left;
    min-width: 650px;/* border-right:1px solid #ddd; */
}

#content > hr {
    display: none;
}

#content > dl {
    background-color: #f5f5f5;
    padding: 20px;
}

#content > dl dt {
    border: none;
}

#content > dl dt tt a {
    padding: 0 0 10px;
    font-size: 22px;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #232b3b;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.3;
}

a {
    color: #043f7d;
    text-decoration: none;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

a:focus,
a.active {
    color: #e42b12
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
}

ul {
    list-style: none;
}

#categories {
    float: right;
    font-size: 0.8rem;
    height: 100%;
    right: 0;
    top: 0;
}

#categories h3 {
    display: none;
}

h1,
#categories + h3 {
    border-bottom: 4px solid #dfdfdf;
    color: #e42b12;
    font-size: 2.1rem;
    letter-spacing: -0.1px;
    margin-bottom: 25px;
    padding: 10px 0 20px;
    text-transform: none;
    margin-top: 8px;
}

#page-contents {
    font-size: 1rem;
    padding: 5px 0 20px;
}

#page-contents h3 {
    display: none;
}

p {
    margin-bottom: 15px;
}

table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    color: #333;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
}

table > caption + thead > tr:first-child > td,
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > td,
table > thead:first-child > tr:first-child > th {
    border-top: 0 none;
}

table > tbody + tbody {
    border-top: 2px solid #ddd;
}

table {
    background-color: #fff;
}

table,
table * {
    border-color: #ddd !important;
}

table-condensed > tbody > tr > td,
table-condensed > tbody > tr > th,
table-condensed > tfoot > tr > td,
table-condensed > tfoot > tr > th,
table-condensed > thead > tr > td,
table-condensed > thead > tr > th {
    padding: 5px;
}

table {
    border: 1px solid #ddd;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
    border: 1px solid #ddd;
}

table > thead > tr > td,
table > thead > tr > th {
    border-bottom-width: 2px;
}

table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

table col[class*="col-"] {
    display: table-column;
    float: none;
    position: static;
}

table td[class*="col-"],
table th[class*="col-"] {
    display: table-cell;
    float: none;
    position: static;
}

table > tbody > tr.active > td,
table > tbody > tr.active > th,
table > tbody > tr > td.active,
table > tbody > tr > th.active,
table > tfoot > tr.active > td,
table > tfoot > tr.active > th,
table > tfoot > tr > td.active,
table > tfoot > tr > th.active,
table > thead > tr.active > td,
table > thead > tr.active > th,
table > thead > tr > td.active,
table > thead > tr > th.active {
    background-color: #f5f5f5;
}

table-hover > tbody > tr.active:hover > td,
table-hover > tbody > tr.active:hover > th,
table-hover > tbody > tr:hover > .active,
table-hover > tbody > tr > td.active:hover,
table-hover > tbody > tr > th.active:hover {
    background-color: #e8e8e8;
}

table > tbody > tr.success > td,
table > tbody > tr.success > th,
table > tbody > tr > td.success,
table > tbody > tr > th.success,
table > tfoot > tr.success > td,
table > tfoot > tr.success > th,
table > tfoot > tr > td.success,
table > tfoot > tr > th.success,
table > thead > tr.success > td,
table > thead > tr.success > th,
table > thead > tr > td.success,
table > thead > tr > th.success {
    background-color: #dff0d8;
}

table-hover > tbody > tr.success:hover > td,
table-hover > tbody > tr.success:hover > th,
table-hover > tbody > tr:hover > .success,
table-hover > tbody > tr > td.success:hover,
table-hover > tbody > tr > th.success:hover {
    background-color: #d0e9c6;
}

table > tbody > tr.info > td,
table > tbody > tr.info > th,
table > tbody > tr > td.info,
table > tbody > tr > th.info,
table > tfoot > tr.info > td,
table > tfoot > tr.info > th,
table > tfoot > tr > td.info,
table > tfoot > tr > th.info,
table > thead > tr.info > td,
table > thead > tr.info > th,
table > thead > tr > td.info,
table > thead > tr > th.info {
    background-color: #d9edf7;
}

table-hover > tbody > tr.info:hover > td,
table-hover > tbody > tr.info:hover > th,
table-hover > tbody > tr:hover > .info,
table-hover > tbody > tr > td.info:hover,
table-hover > tbody > tr > th.info:hover {
    background-color: #c4e3f3;
}

table > tbody > tr.warning > td,
table > tbody > tr.warning > th,
table > tbody > tr > td.warning,
table > tbody > tr > th.warning,
table > tfoot > tr.warning > td,
table > tfoot > tr.warning > th,
table > tfoot > tr > td.warning,
table > tfoot > tr > th.warning,
table > thead > tr.warning > td,
table > thead > tr.warning > th,
table > thead > tr > td.warning,
table > thead > tr > th.warning {
    background-color: #fcf8e3;
}

table-hover > tbody > tr.warning:hover > td,
table-hover > tbody > tr.warning:hover > th,
table-hover > tbody > tr:hover > .warning,
table-hover > tbody > tr > td.warning:hover,
table-hover > tbody > tr > th.warning:hover {
    background-color: #faf2cc;
}

table > tbody > tr.danger > td,
table > tbody > tr.danger > th,
table > tbody > tr > td.danger,
table > tbody > tr > th.danger,
table > tfoot > tr.danger > td,
table > tfoot > tr.danger > th,
table > tfoot > tr > td.danger,
table > tfoot > tr > th.danger,
table > thead > tr.danger > td,
table > thead > tr.danger > th,
table > thead > tr > td.danger,
table > thead > tr > th.danger {
    background-color: #f2dede;
}

table-hover > tbody > tr.danger:hover > td,
table-hover > tbody > tr.danger:hover > th,
table-hover > tbody > tr:hover > .danger,
table-hover > tbody > tr > td.danger:hover,
table-hover > tbody > tr > th.danger:hover {
    background-color: #ebcccc;
}

#content > dl {
    margin-bottom: 20px;
}

#content p {
    margin-bottom: 20px;
}

dl {
    margin-top: 0;
}

dt,
dd {
    line-height: 1.42857143;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

table .heading {
    background-color: #232b3b;
    border-color: #232b3b !important;
    font-size: 18px;
    padding: 10px;
    color: #fff;
}

table .category {
    background: #ddd;
    font-weight: 500;
}

table > tbody > tr > td:not(.category):not(.heading) {
    padding: 20px;
}

table > tbody > tr > td:first-child {
    min-width: 200px
}

table tbody tr td dl {
    margin-bottom: 0;
}

table tbody tr td dl dt {
    padding: 0;
    display: block;
    margin-bottom: 10px;
}

table tbody tr td dl dt code strong a {
    padding: 0
}

html body.ftldoc div#content dl dt tt {
    display: block;
}

html body.ftldoc div#content dl > dt > tt a {
    background-color: #fff;
    cursor: pointer;
    display: block;
    margin: 10px 0 15px;
    padding: 5px 10px;
}

html body.ftldoc div#content dl > dt > code {
    background-color: #D8E1ED !important;
}

html body.ftldoc > div#content dl > dd {
    border-top: 1px solid #e5e5e5;
    margin-left: 0;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;
}

html body.ftldoc > div#content dl > dd > dl > dd {
    border: none;
    padding: 0;
}

html body.ftldoc div#content dl dd dl dt a {
    background: #e42b12;
    color: #fff !important;
    font-size: 12px;
    margin-top: 25px;
    display: inline-block;
}

html body.ftldoc div#content dl dd dl dt a:hover {
    background-color: #FF2200;
    text-decoration: none;
}

html body.ftldoc div#content dl dd dl dt b {
    margin-top: 15px;
    display: block;
}

html body.ftldoc div#content dl dt code {
    background-color: #eee;
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px 10px;
    border-radius: 1px;
}

html body.ftldoc div#content dl dt code:first-child {
    background-color: transparent !important;
    line-height: 0;
    padding: 0 0 10px;
    width: 100%;
}

html body.ftldoc div#content dl dt code strong {
    font-size: 18px;
}

pre {
    background-color: #DAE8F7;
    margin: 10px 0 15px !important;
    padding: 15px;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 1px;
}

/* Alphabetical Index Page */

ul.letters {
    padding: 25px 0;
}

ul.letters li {
    float: left;
}

a[name] h2 {
    color: #e42b12 !important;
    border-bottom: 1px solid #ebebeb;
}

ul.letters ~ br {
    display: block;
}

ul.letters ~ a {
    padding: 0;
    font-weight: 600;
    color: #e42b12 !important;
}

ul.letters ~ a[name] {
    font-weight: 400;
    color: #444 !important;
}

#categories + table td a {
    font-weight: 600;
}

div.sourcecode {
    border: none !important;
    padding: 10px 20px !important;
    background-color: #e1e3ed !important;
}

.sourcecode br {
    display: block;
}

span.directive {
    color: #464898;
}

/* Sidebar Styling */
body.side {
    background: #232b3b;
}

.side #content,
.side a,
.side h3 {
    background: transparent;
    color: #fff !important;
}

.side p {
    margin: 0 !important;
}
