/* Print Style Sheet for Funnelback - Content Auditor. */

@media print {
	body {
		font-family: helvetica neue, helvetica;
		font-size: 11px;
	}
	a{ color:#0083FC; text-decoration:none
	}
	h1,h2,h3,h4,h5{ color:#222 !important}
	h1, h2, h3 {
		border-bottom: 1px solid #ccc;
		
	}
	.pagination li {
		float: left;
		display: block
	}
	
	.search-form, #load, #modal-overlay, .pagination, #fb-query-string, #brand, #toggle-sidebar, #toggle-search, .form-field.select {
		display: none
	}
	
}
