/*-------------------------------------- 
  - Funnelback Content Auditor Styles - 
----------------------------------------*/
/* 
    STYLE GUIDE:
    Blue : #232a3b 
    Red  : #e42b12 
*/

/*  FONTS - (The Smiley is a CSS hack for IE) */
/*  Museo ---> */
@font-face {
    font-family: 'MuseoSans';
    src: url(../fonts/museo/MuseoSans.eot);
    src: local(☺),url(../fonts/museo/MuseoSans_600.woff) format("woff"),url(../fonts/museo/MuseoSans_600.ttf) format("truetype"),url(../fonts/museo/MuseoSans_600.svg) format("svg");
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'MuseoSans';
    src: url(../fonts/museo/MuseoSans.eot);
    src: local(☺),url(../fonts/museo/MuseoSans.woff) format("woff"),url(../fonts/museo/MuseoSans.ttf) format("truetype"),url(../fonts/museo/MuseoSans.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}

/* Open Sans ---> */
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Light/OpenSans-Light.eot);
    src: url(../fonts/Light/OpenSans-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Light/OpenSans-Light.woff) format("woff"),url(../fonts/Light/OpenSans-Light.ttf) format("truetype"),url(../fonts/Light/OpenSans-Light.svg#OpenSansLight) format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/LightItalic/OpenSans-LightItalic.eot);
    src: url(../fonts/LightItalic/OpenSans-LightItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/LightItalic/OpenSans-LightItalic.woff) format("woff"),url(../fonts/LightItalic/OpenSans-LightItalic.ttf) format("truetype"),url(../fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic) format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Regular/OpenSans-Regular.eot);
    src: url(../fonts/Regular/OpenSans-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Regular/OpenSans-Regular.woff) format("woff"),url(../fonts/Regular/OpenSans-Regular.ttf) format("truetype"),url(../fonts/Regular/OpenSans-Regular.svg#OpenSansRegular) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Italic/OpenSans-Italic.eot);
    src: url(../fonts/Italic/OpenSans-Italic.eot?#iefix) format("embedded-opentype"),url(../fonts/Italic/OpenSans-Italic.woff) format("woff"),url(../fonts/Italic/OpenSans-Italic.ttf) format("truetype"),url(../fonts/Italic/OpenSans-Italic.svg#OpenSansItalic) format("svg");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Semibold/OpenSans-Semibold.eot);
    src: url(../fonts/Semibold/OpenSans-Semibold.eot?#iefix) format("embedded-opentype"),url(../fonts/Semibold/OpenSans-Semibold.woff) format("woff"),url(../fonts/Semibold/OpenSans-Semibold.ttf) format("truetype"),url(../fonts/Semibold/OpenSans-Semibold.svg#OpenSansSemibold) format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot);
    src: url(../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff) format("woff"),url(../fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf) format("truetype"),url(../fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic) format("svg");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Bold/OpenSans-Bold.eot);
    src: url(../fonts/Bold/OpenSans-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Bold/OpenSans-Bold.woff) format("woff"),url(../fonts/Bold/OpenSans-Bold.ttf) format("truetype"),url(../fonts/Bold/OpenSans-Bold.svg#OpenSansBold) format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/BoldItalic/OpenSans-BoldItalic.eot);
    src: url(../fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/BoldItalic/OpenSans-BoldItalic.woff) format("woff"),url(../fonts/BoldItalic/OpenSans-BoldItalic.ttf) format("truetype"),url(../fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic) format("svg");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/ExtraBold/OpenSans-ExtraBold.eot);
    src: url(../fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix) format("embedded-opentype"),url(../fonts/ExtraBold/OpenSans-ExtraBold.woff) format("woff"),url(../fonts/ExtraBold/OpenSans-ExtraBold.ttf) format("truetype"),url(../fonts/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold) format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot);
    src: url(../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix) format("embedded-opentype"),url(../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff) format("woff"),url(../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf) format("truetype"),url(../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic) format("svg");
    font-weight: 800;
    font-style: italic;
}

html {
    background: #fbfbfb;
}

/* Hyperlink Colours*/
a {
    outline: none !important;
    color: #444;
}

a:hover,a:focus {
    color: #e42b12;
}

.link:hover {
    color: #e42b12;
    cursor: pointer;
}

/* CSS Helpers*/
.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.no-border {
    border: none !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-border-lr {
    border-left: none;
    border-right: none !important;
}

.nowrap {
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

/* Typographic Styles*/
h2,.h2 {
    padding: 0 0 15px;
    color: #e42b12;
}

h1 {
    color: #ebebeb;
    font-size: 16px;
    left: 25px;
    line-height: .6em;
    position: absolute;
    white-space: pre;
}

h1 span {
    color: #e42b12;
}

h2:before {
    border-bottom: 2px solid #CFCFCF;
    content: "";
    height: 10px;
    margin: 36px -14px 0;
    position: absolute;
    width: 25px;
}

.text-success {
    color: #2AAB87;
}

.text-danger {
    color: #DA2822;
}

.fb-placeholder::-webkit-input-placeholder {
    color: #A9A9A9;
}

.fb-placeholder:-moz-placeholder {
    color: #A9A9A9;
    opacity: 1;
}

.fb-placeholder::-moz-placeholder {
    color: #A9A9A9;
    opacity: 1;
}

.fb-placeholder:-ms-input-placeholder {
    color: #A9A9A9;
}

.table > thead > tr > th,.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus,b,strong {
    font-weight: 600;
    color: #222;
}

h1,h2,h3,h4,h5,h6,.tab-summary,.btn,.navbar-side,.search-form label {
    font-weight: 400;
    font-family: MuseoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2,h3,h4,h5,h6,.tabbable > .nav a,.tab-summary,.nav-stacked > li {
    text-shadow: 0 1px 0 #fff;
}

/* Icon Styles */
.fa-stack-2x {
    color: #666;
}

.fa-stack-1x {
    color: #fff;
}

.fa-stack:hover .fa-stack-2x {
    color: #e42b12 !important;
    text-decoration: none !important;
}

/* Page Styles & Bootstrap Overrides */
body,header {
    background: #ebebeb;
}

body {
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    line-height: 1.41;
    color: #333;
    padding-top: 50px;
}

body:after {
    transition: all 333ms ease-out;
    background: #fff;
    content: "";
}

body > section,.search-form {
    margin-left: 250px;
    transition: margin 333ms ease;
}

/*Header*/
header {
    margin-bottom: 0 !important;
    background: #fff;
}

header .navbar-brand,.navbar-side {
    width: 250px;
    left: 0;
}

header #toggle-sidebar,header #toggle-search {
    border-color: #801E0F;
    color: #fff;
    font-size: 13px;
    margin: 9px -5px;
    padding: 5px 8px;
    position: absolute;
    left: 15px;
}

header .navbar-nav .btn {
    border: 1px solid #801E0F;
    color: #fff;
    font-size: 13px;
    background: transparent;
    position: relative;
    margin-left: 4px;
}

header #toggle-sidebar:hover,header #toggle-search:hover {
    background-color: #e42b12;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

header h1 {
    margin-left: 30px;
}

header h1 a {
    color: #fafafa;
}

header h1 a,header h1 a span {
    transition: color 333ms ease;
}

header h1 a:hover,header h1 a:focus,header h1 a:focus span,header h1 a:hover span {
    color: #fff !important;
}

header .navbar-brand {
    height: 50px;
    margin-left: 0 !important;
}

header .nav,header li a {
    width: 100%;
    display: block !important;
}

/* Logo / Identity*/
#brand {
    margin-left: 25px;
    position: absolute;
    width: 230px;
    overflow: hidden;
    height: 50px;
}

.sidebar-off #brand {
    margin-left: 0;
}

#brand + h1 {
    left: -200px;
    position: absolute;
}

#brand em {
    display: none;
}

#brand,h1,#toggle-sidebar,#toggle-search,.navbar-nav .btn {
    transition: all 333ms ease-in;
}

/* #brand:hover{margin-left:-14px;width:250px}
#brand:hover + h1, #brand:hover + h1 + a#toggle-sidebar{left:-200PX}
*/
/*Buttons */
.btn,.btn:active,.btn:focus {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

 {
    background-color: #19cd9b;
}

.btn:hover {
    -moz-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
    -webkit-box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
}

.btn:active,.btn:focus {
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.15) inset;
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.15) inset;
    box-shadow: 0 2px 0 rgba(0,0,0,0.15) inset;
    top: 1px;
}

.btn.btn-inverse {
    background: #333;
    border-color: #333;
    color: #fff;
}

.btn-upload {
    margin: -5px 0 0 25px;
}

.btn-primary {
    background-color: #e42b12;
    border: transparent;
    color: #fff;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
    background-color: #e42b12;
}

.btn-default {
    background: none repeat scroll 0 0 #eee;
    border: 1px #ddd solid;
}

.navbar-nav .btn:hover {
    background: #e42b12;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-warning {
    background: #FFB200;
    border-color: transparent;
}

#toggle-search {
    left: auto !important;
    margin-right: 8px !important;
    right: 0 !important;
}

/* Search Form in Top Nav*/
.search-form {
    margin-top: 8px;
    color: #eee;
}

.search-form {
    margin-left: 220px;
}

.search-form input[type=text],.search-form input[type=search],.search-form input[type=url],.search-form select {
    background: none repeat scroll 0 0 rgba(0,0,0,0.15);
    border-color: #801E0F;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-style: solid;
    border-width: 0 0 2px;
    color: #eee;
    background-color: rgba(255,255,255,0.15);
    transition: all 222ms ease;
}

.search-form input[type=search]:focus {
    background-color: rgba(255,255,255,0.30);
}

.search-form .search-input-wrap {
    transition: width 100ms ease;
}

.search-form .search-input-group input {
    width: 100% !important;
}

.search-form label {
    background: #e42b12;
    border-bottom: 2px solid #e42b12;
    font-size: 10px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 1.3px;
    line-height: 3.2;
    padding: 0 12px;
    position: absolute;
    right: 100%;
    white-space: nowrap;
    word-wrap: normal;
    z-index: 1;
    display: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

.search-form label span {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 3px 0;
}

.search-form .has-focus .search-input-wrap {
    transition: width 100ms ease,opacity 600ms ease;
    width: 100% !important;
    opacity: .3;
}

.search-form .has-focus .search-input-wrap.has-focus {
    width: 100% !important;
    opacity: 1;
}

.search-form input:focus,.search-form select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #e42b12;
    color: #fff;
}

.search-input-group {
    position: relative;
    display: block;
    float: left;
    width: 450px;
}

.search-input-wrap {
    width: 49.5%;
    display: inline-block;
    position: relative;
}

/*Navbar overrides*/
.navbar-static-top {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-inverse .navbar-brand,.navbar-inverse .navbar-brand.in {
    -moz-user-select: none;
    background: transparent url(../img/funnelback-logo-inverse-content-auditor.svg) no-repeat scroll 0 7px;
    color: #d6d6d6;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    line-height: 3.5;
    margin-left: 15px !important;
    padding: 0;
    position: absolute;
    text-align: right;
    top: 0;
    width: 200px;
}

.navbar-inverse {
    background-image: url(../img/bg-px.png);
    background-repeat: repeat !important;
    background-color: #232a3b;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

/*Navigation (Side Panel) */
.sidebar-closed header #toggle-sidebar,.sidebar-closed header #toggle-search {
    backround-color: rgba(255,254,252,0.2);
    color: #919191;
    font-size: 13px;
    left: 15px;
    margin: 9px -5px;
    padding: 5px 8px;
    position: absolute;
}

.sidebar-closed .navbar-side {
    left: -250px;
    width: 250px;
    height: 0;
}

.navbar-side .navbar-nav > li {
    float: none;
}

.navbar-side {
    opacity: 1 !important;
    left: 0 !important;
    display: block;
    top: 50px;
    height: 100%;
    bottom: 0;
    position: fixed;
    -webkit-box-shadow: -1px 0 2px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: -1px 0 2px rgba(0,0,0,0.1) inset;
    box-shadow: -1px 0 2px rgba(0,0,0,0.1) inset;
    padding: 0;
    transition: all 333ms ease !important;
}

.navbar-side > .nav {
    width: 100%;
}

.sidebar-closed .navbar-side {
    left: -250px !important;
}

.sidebar-closed > section {
    margin-left: 0;
}

.navbar-side .navbar-nav,.navbar-side .navbar-nav li,.navbar-side .navbar-nav li a {
    display: block;
}

.navbar-side .navbar-nav li a {
    border-left: 4px solid transparent;
    color: #555;
}

.navbar-side .navbar-nav li a:hover {
    background-color: rgba(0,0,0,0.03);
    border-color: #c5c5c5;
    border-colorcolor: #333;
    border-left-color: #aaa;
    border-bottom-color: transparent;
}

.navbar-side li.active a:hover:after,.navbar-side li.active a:after,.navbar-side li a:hover:after {
    left: 13px;
}

.navbar-side .navbar-nav > .active > a,.navbar-side .navbar-nav > .active > a:hover,.navbar-side .navbar-nav > .active > a:focus {
    background-color: rgba(0,0,0,0.08);
    border-left-color: #999;
    border-left-color: #e42b12;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.70);
    border-bottom-color: #c3c3c3 !important;
    color: #333;
    cursor: default;
    outline: medium none;
}

.navbar-side .navbar-nav > .active > a .fa-square {
    color: #e42b12 !important;
}

.navbar-side .navbar-nav {
    position: relative;
}

.navbar-side .navbar-nav > li > a {
    display: block;
    overflow: hidden;
    padding: 12px 5px 12px 20px;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.navbar-side .navbar-nav > li > a .fa-stack {
    height: .9em;
    margin-top: -5px;
    width: 1em;
    margin-right: 10px;
    text-shadow: none;
}

.navbar-side .navbar-nav > li > a .fa-stack-1x {
    font-size: 14px;
    margin-top: -8px;
}

.navbar-side .navbar-nav > li > a .fa-stack-2x {
    font-size: 21px;
    color: #ccc;
}

.navbar-side .navbar-nav > li.active > a .fa-stack-2x {
    color: #666;
    text-shadow: 0 0 1px #fff;
}

.navbar-side {
    background-color: #ebebeb;
}

.navbar-side .nav-title {
    background: #e42b12;
    color: #fafafa;
    font-size: 13px;
    font-weight: 500;
    padding: 2px 5px 2px 15px;
    margin: 0 0 1px;
    letter-spacing: 1px;
}

.navbar-side .active a,.btn-sm {
    font-weight: 600;
}

.sidebar-off header h1 {
    margin-left: 0;
}

/* Tab and tab-pane styles*/
.tabbable .tab-content .tab-pane > div:first-child {
    margin-top: 15px;
}

.tabbable .tab-content .tab-pane > * {
    margin: 0 15px 15px;
}

.tabbable .tab-content .tab-pane > .lead-in {
    margin: 25px;
}

.tabbable .nav {
    background: #fff;
    margin: 0 -15px;
    padding: 0;
}

.tabbable .badge {
    text-shadow: none;
}

.tabbable .tab-content {
    background: #fff;
    margin: 0 -15px;
}

.tab-summary {
    background-color: #f1f1f1;
    border-bottom: 1px solid #eee;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    margin: 0 -15px;
    padding: 8px 30px 10px;
}

#result-tabs .nav-tabs {
    background: #fafafa;
    margin: 0 -15px;
    padding: 0 15px;
    border-top: 1px solid #ebebeb;
}

.tab-pane.active + .tab-pane.active {
    display: none;
}

.tab-pane {
    padding: 0;
    margin: 0;
    background: #fff;
}

.nav-tabs {
    border-top: none !important;
    background-color: #eee;
    border-color: #ebebeb;
}

.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    margin: 0 10px;
    padding: 12px 0;
    color: #666;
    font-size: 15px/1.42857; font-family: MuseoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
    border-color: transparent;
    color: #000;
}

.nav-tabs > li {
    border-top-width: 0;
}

.nav-tabs > li.active a {
    color: #333 !important;
    font-weight: 600 !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: none !important;
    border-color: transparent !important;
}

.nav-tabs > li.active a:before {
    background-color: #e42b12;
    bottom: -1px;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.tab-header {
    margin: 0 25px !important;
    padding: 25px 0 10px;
}

#my-tab-content .tab-pane > div {
    margin-top: 0;
    margin-bottom: 0;
}

.tab-footer {
    border-top: 1px solid #ebebeb;
    margin: 0 !important;
    padding: 40px;
}

#result-tabs:before {
    transition-delay: all 333ms ease;
    z-index: 2;
}

.fb-loading #result-tabs:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.9);
    z-index: 2;
}

#anchors-pane p a {
    color: #e42b12;
    font-weight: 600;
}

/*Tables within tab-panes */
.tabbable .tab-content .tab-pane > table {
    margin-left: 0;
    margin-right: 0;
}

.tabbable .tab-content .tab-pane > table tr > td:first-child {
    padding-left: 23px;
}

.table-hide a {
    visibility: hidden;
}

tr:hover .table-hide a {
    visibility: visible;
}

.table-hide a:hover {
    text-decoration: none !important;
}

.table-row-clickable {
    margin-bottom: 0 !important;
}

table tr:hover td:first-child a,table tr:hover td:first-child a strong {
    color: #e42b12;
}

.tabbable .tab-content .tab-pane > table tr > td:last-child {
    padding-right: 25px;
}

.table-striped > tbody > tr:nth-child(2n+1) {
    background: #fcfcfc;
}
#duplicates > tbody > tr:hover > td:first-child {
    -webkit-box-shadow: 4px 0 0 #F59F9F inset;
    -moz-box-shadow: 4px 0 0 #F59F9F inset;
    box-shadow: 4px 0 0 #F59F9F inset;
    cursor: pointer;
}
.table-striped > tbody > tr:hover > td:first-child {
    -webkit-box-shadow: 4px 0 0 #e42b12 inset;
    -moz-box-shadow: 4px 0 0 #e42b12 inset;
    box-shadow: 4px 0 0 #e42b12 inset;
}

.table-striped > tbody > tr:hover {
    background: #f4f4f4;
}
.table-striped > thead > tr > th:first-child {
    padding-left: 25px !important;
}

.table > tbody > tr:hover > td {
    border-top: none;
}

.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td {
    padding: 10px 8px;
    border-color: #eee;
    vertical-align: top;
}

.table strong {
    color: #444;
    font-weight: 600;
}

table tr .fa-stack {
    cursor: pointer;
}

table tbody tr:hover .table-hidden {
    visibility: visible !important;
}

.table-row-clickable tbody tr:hover td-first-child a {
    color: #e42b12;
}

.table-striped tbody tr:hover a {
    color: #e42b12 !important;
}

.table-striped tbody tr:hover a.text-muted {
    color: #999;
}

#duplicates {
    margin-bottom: 0;
}

#duplicates tr:hover a {
    color: #da2822 !important;
}



#duplicates .clickable-link:hover {
    color: #000 !important;
}

table ul {
    padding: 0;
    list-style-position: outside;
}

table a.text-muted {
    font-weight: 500 !important;
}

.table-row-clickable tr td.table-hide {
    min-width: 120px;
}

.tbl-row-ftr {
    margin-top: 5px;
}

thead tr th .fa {
    color: #bbb;
}

thead tr th:hover .fa {
    color: #e42b12;
}

/* Facets */
.facets .facet:last-child {
    margin-bottom: 8px !important;
}

.facets {
    overflow: hidden;
}

#facet-container-wrapper {
    border: 1px solid #eee;
    background: #fbfbfb;
    transition: background-color 333ms ease 222ms;
}

.facet-header {
    margin: 25px 15px -10px;
}

.facets-chart-wrapper .facet-header {
    margin-left: 25px;
    margin-top: 15px;
}

.facet-chart-legend {
    position: relative;
    height: auto;
    min-height: 0 !important;
}

#fb-facets-navigation {
    margin-top: 6px;
}

#fb-facets-navigation ul li > .facetLabel .fa-circle-thin {
    display: none;
}

#fb-facets-navigation .nav {
    margin: 0 -15px 0 -25px;
}

h4 > .facetLabel,h3 > .facetLabel {
    display: inline;
}

#fb-facets-navigation .nav-stacked {
    background: none;
}

#fb-facets-navigation .nav-stacked > li a:hover {
    border-left: solid #c5c5c5 !important;
    background-color: rgba(0,0,0,0.05);
}

#fb-facets-navigation .nav-stacked > li > a {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border: solid transparent;
    border-width: 0 0 0 3px;
    margin: 0;
    padding: 10px 0 10px 25px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#fb-facets-navigation .nav-stacked > li > a span,#fb-facets-navigation .nav-stacked > li > a div {
    display: inline-block;
}

#fb-facets-navigation .nav-stacked > li + li {
    margin-top: 0;
}

#fb-facets-navigation .nav-stacked > li.active > a,.nav-stacked > li.active > a:hover,.nav-stacked > li.active > a:hover,.nav-stacked > li.active > a:focus {
    background-color: rgba(0,0,0,0.08);
    border-bottom: 0 solid #ddd;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    color: #fff;
    font-weight: 600;
    border-left: 3px solid #e42b12 !important;
    color: #333;
}

.facet-search-details {
    border-top: 1px solid #ebebeb;
    padding: 25px;
    background-color: #fff;
    border-right: 1px solif #ebebeb !important;
}

.fb-facets {
    margin: 0;
}

#fb-facets-navigation > nav {
    background-color: #fff;
}

#fb-facet-details {
    border-left: 1px solid #eee;
    background-color: #fff;
    overflow: hidden;
    padding: 0;
}

.fb-facet-header {
    border-bottom: 1px solid #eee;
    margin: 30px 0 0;
    padding-bottom: 25px;
    padding-left: 25px;
}

.fb-facet-header
.fb-facet-header h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.fb-facet-breadcrumb {
    margin-bottom: 0;
    margin-top: 5px;
}

#fb-facets-navigation .nav-stacked > li > a .fa {
    color: #ccc;
    padding-right: 8px;
}

#tabbable-content {
    border-top: 1px solid #ebebeb;
    margin: 0;
    padding: 0 22px 8px;
    background: url(../img/bg-light.png) #fafafa;
}

.sidebar-off #tabbable-content {
    background: #f5f5f5;
}

#tabbable-content.closed #fb-facets-navigation .nav-stacked > li > a .fa {
    padding-right: 4px;
}

#fb-facets-navigation .nav-stacked > li.active > a .fa {
    color: #e42b12;
}

#contentReportFacetedFilters {
    border-bottom: 1px solid #ebebeb;
    padding: 20px 30px;
}

.facet-search-details table tbody tr td {
    padding-left: 20px;
}

.facet-search-details table tbody tr {
    cursor: pointer;
}

.facet-search-chart .facet-chart-container {
    min-height: 590px !important;
}

.appliedFacets {
    display: inline-block !important;
    margin: 6px 0 !important;
    padding: 3px 6px !important;
}

.selected_facets ul {
    padding: 0;
}

.selected_facets li {
    list-style-type: none;
    margin-bottom: .25em;
}

.appliedFacets {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #efefef;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    color: #666;
    font-size: 11px;
    font-weight: 600;
    margin: 2px 6px 2px 0;
    padding: 6px 0 8px 6px;
}

.appliedFacets .btn,.appliedFacets .btn:focus {
    background-color: #aaa;
}

.appliedFacets .btn {
    transition: all 333ms ease;
}

.appliedFacets .btn:hover {
    background-color: #f3f3f3;
    border-color: #c9302c;
}

.appliedFacets,.appliedFacets ul {
    display: inline;
}

.appliedFacets ul {
    margin: 0;
    padding: 0;
}

.appliedFacets ul:before {
    content: ":";
}

.appliedFacets ul li {
    display: inline;
}

.appliedFacets ul li:first-child {
    border-left: 0;
}

.appliedFacets ul li a {
    color: #fff;
    font-weight: 900;
}

#fb-facet-details tbody tr:hover a {
    color: #e42b12;
}

#facet-container-wrapper,.tabbable > .nav {
    -webkit-box-shadow: 0 0 0 1px #fff inset;
    -moz-box-shadow: 0 0 0 1px #fff inset;
    box-shadow: 0 0 0 1px #fff inset;
}

/*panels*/
.panel-heading,.boxed,.panel-default > .panel-heading,.panel-heading {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-color: #dfdfdf;
    border-width: 3px;
}

.boxed {
    padding: 0 !important;
}

.boxed h4 {
    padding: 20px 0;
}

.panel,.boxed,.boxed-inner.boxed {
    border: 1px solid #E3E3E3;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.panel-default > .panel-heading {
    background-color: #eee;
    padding: 12px 15px 8px;
}

.boxed-inner.boxed {
    border: 1px solid #ebebeb;
}

.boxed h3 {
    margin-top: 10px;
}

.duplicates-count {
    margin: 25px;
}

/*Loading Area*/
#load {
    bottom: 0;
    content: " ";
    font-size: 24px;
    height: 184px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 2;
    color: #e42b12;
    display: none;
    transition-delay: all 333ms ease;
    padding: 50px;
}

#load .loader {
    height: 100px;
    width: 100px;
}

#load .loader-text {
    margin-top: 15px;
}

.fb-loading #load {
    display: block;
}

.fb-loading #result-tabs {
    transition: margin 2000ms ease;
    min-height: 100%;
}

.fb-loading-after #result-tabs {
    transition: margin 2000ms ease;
}

.fb-loading #result-tabs,.fb-loading-after #result-tabs {
    position: relative;
}

/* Footer */
footer {
    background: #fbfbfb;
    margin: 0 -15px;
    padding: 0 25px;
}

footer > .row {
    color: #999;
    font-size: 12px;
    border-top: 1px solid #ebebeb;
    padding: 35px 0;
    margin: 0 -25px;
    padding: 25px 5px;
}

footer a,footer a:focus,footer a:hover {
    color: #e42b12;
}

.footer-brand {
    background: url(../img/funnelback-logo.svg) no-repeat 0 0 rgba(0,0,0,0);
    height: 30px;
    width: 136px;
}

/* Pagination */
.pagination > li > a,.pagination > li > a:focus {
    color: #888;
    border-color: #ebebeb;
}

.pagination > li > a:hover {
    color: #e42b12;
}

.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
    background-color: #e42b12;
    border-color: #e42b12;
    color: #fff;
    font-weight: 600;
}

/* Modals*/
.modal-content h3 {
    margin: 0;
}

.modal-content h3,.modal-content p {
    background: none repeat scroll 0 0 #fafafa;
    padding: 30px 15px 10px;
}

.modal-content p {
    margin-top: 0;
    padding-top: 3px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0;
}

.modal-content tr td:first-child {
    padding-left: 18px;
}

.modal-content tr td:last-child {
    padding-right: 18px;
}

.modal-content .pagination {
    margin-left: 15px;
}

.modal-content .pagination-wrap {
    border-top: 1px solid #ebebeb;
    background-color: #fdfdfd;
}

.modal-content {
    max-height: 600px;
    overflow: hidden;
    overflow-y: auto;
}

.modal-content #anchors-pane .table-row-clickable tbody tr a {
    font-weight: 600;
}

.modal-content #anchors-pane .table-row-clickable tbody tr:hover a {
    color: #e42b12;
}

.modal-content #anchors-pane table tfoot {
    background: #ebebeb;
    font-weight: 600;
    text-shadow: 0 1px 0 #fff;
}

.modal {
    background-color: #666;
    background: rgba(35, 42, 60, 0.75) url(../img/bg-px.png) repeat;
}

.modal-content {
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-color: transparent;
}

/*Badges*/
.badge-danger {
    background: #EF6573;
    color: #fff;
}

.badge-danger strong,.badge-danger strong:hover {
    color: #fff !important;
}

/*AMCharts*/
.amChartsLegend {
    border-top: 1px dashed #ebebeb;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.amChartsLegend > svg {
    margin-top: 20px;
}

.facet-chart-legend {
    border-top: 1px dashed #ddd;
    height: auto;
    min-height: 0 !important;
    position: relative;
    margin: 0 -15px 0 0;
}

/* Facet Filter Tags */
.drill-filters {
    width: 100%;
    background: #fafafa;
    border-bottom: 1px solid #ebebeb;
    padding: 0 18px !important;
    margin-left: 0 !important;
}

.drill-filters .btn-danger {
    margin-left: 10px;
}

.drill-filters .fa-filter {
    margin-right: 10px;
    color: #888;
    text-shadow: 0 1px 0 #fff;
}

.drill-filters .glyphicon-remove-circle:before {
    content: "\f00d";
    font-family: "FontAwesome";
    padding: 0 1px 0 5px;
    border-left: 1px dotted rgba(255,255,255,0.5);
    margin-left: 3px;
}

#collection-1-tab-2 .drill-filters {
    border-top: 1px solid #ebebeb;
    margin-left: 0 !important;
    padding: 15px 30px;
}

.drill-filters .btn:hover {
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.3) inset;
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.3) inset;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.3) inset;
    color: #c9302c;
}

.drill-filters {
    margin-bottom: 0 !important;
}

.drill-filters .btn-danger:hover,.drill-filters .btn-danger:hover span:before {
    color: #fff !important;
}

.drill-filters .btn:hover .glyphicon-remove-circle:before {
    color: #c9302c;
}

/* TableScroll plugin*/
.tablescroll_wrapper {
    border-bottom: 1px solid #ebebeb;
}

.tablescroll_wrapper table tr a {
    font-weight: 500 !important;
}

.tablescroll_head th {
    padding: 15px !important;
    border-bottom: 1px solid #ebebeb;
}

.tablescroll td {
    padding-left: 20px !important;
}

.table-scrollers .fa {
    margin: 15px 0 0 15px;
    color: #777;
    transition: all 333ms ease;
    cursor: pointer;
}

.table-scrollers .fa:hover {
    color: #e42b12;
}

.table-scrollers .fa:first-child {
    margin-left: 20px;
}

.table-scrollers .fa:last-child {
    margin-left: 8px;
}

.table-scrollers {
    background-color: rgba(255,255,255,0.89);
    border-top: 1px solid #e8e8e8;
    height: 54px;
    margin-top: -54px;
    position: relative;
    z-index: 12;
    -webkit-box-shadow: -2px -1px 6px -6px #ccc;
    -moz-box-shadow: -2px -1px 6px -6px #ccc;
    box-shadow: -2px -1px 6px -6px #ccc;
}

.tablescroll_wrapper > table {
    margin-bottom: 38px;
}

/*Wells*/
.well-fb {
    background: none repeat scroll 0 0 #fafafa;
    margin: 0 15px;
}

/*Lists */
.list-nice a {
    display: block;
    width: 100% !important;
    padding: 8px 10px;
    border-bottom: 1px dashed #ebebeb;
}

.list-nice a .fa-long-arrow-right {
    color: #ddd;
    margin-right: 10px;
}

.list-nice {
    list-style: outside none;
    padding: 0;
}

/*Errors*/
#error-no-results {
    padding: 35px 25px;
}

/*Popovers*/
.popover .popover-content {
    background: url(../img/loader.gif) center center no-repeat;
    min-height: 200px;
    min-width: 200px;
}

/*Page Mast*/
#page-mast {
    background: #fff;
}

/*Images*/
.navbar-side,.navbar-side .navbar-title,.tab-summary,body,html,footer {
    background-image: url(../img/bg-light.png);
}

/* Tooltip*/
[data-toggle="tooltip"],.tooltip {
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}

/* overview */
.overview-content {
    padding: 30px;
}

.overviews {
    overflow: hidden;
    padding-top: 15px;
}

.facets .panel .panel-body {
    padding: 0;
}

.panel {
    margin-bottom: 0 !important;
}

.facets .panel .panel-body.chart {
    padding-bottom: 30px;
}

.facets .panel .panel-body > div {
    padding: 8px 15px;
    display: block;
}

.facets .panel .panel-body .category {
    border-bottom: 1px solid #eee;
}

.facets .panel .panel-body .category:hover {
    cursor: pointer;
}

.facets .panel .panel-body .category:hover a {
    color: #e42b12;
}

.facets .panel .panel-footer {
    border-top: 1px solid #eee;
    display: block;
}

/* header sort by */
.tablesorter-headerAsc .fa:before,.tablesorter-headerDesc .fa:before {
    color: red;
}

.tablesorter-headerAsc .fa:before {
    content: "\f0d8";
}

/* New Styles for Recommendations */
.uri-selector {
    float: left;
    margin-right: 15px;
}

.uri-selector > span, #uri-selector > div {
    float: left;
    display: block;
}

.uri-selector .dropdown {
    margin-left: 30px;
    white-space: pre;
    line-height:0;
}

.uri-selector .dropdown .facet li,.recommendations .category {
    display: block;
    padding: 0;
    width: 100%;
    font-weight: 700;
    line-height:0;
}
.uri-selector .facet{
    display:block;
}
.uri-selector .facet li{
}
.uri-selector .dropdown-menu{ 
    
}
.uri-selector .categoryCount {
    float: none !important;
}
/*
.recommendations .category{ 
    white-space:pre;
}
*/
.uri-selector .dropdown  .category > span, .uri-selector .dropdown .category > small {
    display:inline;
    float: left;
}
.uri-selector .dropdown  .category > span{
    margin-left: -25px;
}
.uri-selector .dropdown .facet li {
    padding-bottom: 10px;
    padding-right: 50px;
    padding-top: 11px;
}
.uri-selector .facet{
    width:100%;
}
.uri-selector .dropdown .category > small {
    color: #bbb;
    margin: 0 -38px 0 0;
    float:right;
}    
.uri-selector .dropdown .facet li:hover {
    background: #eee;
    box-shadow: 4px 0 0 #e42b12 inset;
}

.uri-selector .dropdown .facet li:hover a {
    color: #e42b12;
    text-decoration: underline;
}

.rtc-legend {
    margin-right: 1%;
    width: 8%;
    display: inline-block;
    height: 8px;
    border-radius: 200px;
}

.rtc-legends {
    text-align: center;
    margin: 30px 0;
    border-bottom: none !important;
}

.rtc-legends .rtc-legend:first-child {
    text-align: right;
}

.rtc-legends .rtc-legend:last-child {
    text-align: left;
}

/*No Info / Content fills */
.no-info {
    display: table;
    width: 100%;
    background: #f8f8f8;
    text-align: center;
    position: relative;
}

.no-info .inner {
    color: #888;
    width: 100% !important;
    display: block;
    height: 155px;
    background: #f8f8f8;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.no-info::after {
    border: 2px dashed #ddd;
    bottom: 6px;
    content: "";
    left: 6px;
    position: absolute;
    right: 6px;
    top: 6px;
}

*,:before,:after {
    box-sizing: border-box !important;
}

.facets {
    -moz-column-width: 1000px;
    -webkit-column-width: 1000px;
    column-width: 1000px;
    -moz-column-gap: .5em;
    -webkit-column-gap: .5em;
    column-gap: .5em;
    margin: .25em 5px;
}

.facet {
    display: inline-block;
    padding: .5em;
    padding: 0;
    width: 99.5%;
    margin: .25em 0;
}

.facet .category {
    padding: 15px !important;
}

.facet .col-md-6 {
    width: 100%;
    padding: 0;
}

/*Media Queries */
@media (max-width: 767px) {
body > section {
    margin-left: 250px;
}

header {
    height: 50px;
}

.sidebar-closed > section {
    margin-left: 0;
}

.search-form {
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

#page-header .navbar-nav {
    border: none;
    height: 0;
    overflow: hidden;
    display: none;
    margin: 0;
}

#my-tab-content {
    margin: 0 -22px;
}

.navbar-side {
    height: 100% !important;
    margin-left: 0 !important;
    top: 0;
    padding: 0;
    left: -250px;
    visibility: visible !important;
}

.navbar-side.in,.navbar-side.collapsing {
    left: 0;
}

.navbar-side {
    padding: 0 !important;
    margin: 0;
}

.searchform-open .navbar-inverse {
    background-color: rgba(0,0,0,0.85);
}

.search-input-group {
    margin-left: auto;
}

.search-form {
    border-top: 1px solid rgba(7,7,7,0.42);
    margin-left: 10px;
}

.navbar-nav {
    margin: 49px 0 15px !important;
}

.search-form .search-input-group {
    width: 100%;
}

.search-form label {
    border-bottom: medium none !important;
    display: none;
    height: 13px;
    letter-spacing: 1px;
    line-height: normal;
    right: auto;
    top: -15px;
}

.search-form label span {
    border-bottom: none;
}

.search-form .has-focus .search-input-wrap,.search-form .has-focus .search-input-wrap.has-focus,.search-input-wrap {
    width: 100% !important;
}

.searchform-open #page-header .navbar-nav {
    border: inherit !important;
    display: block;
    height: auto;
    margin: 50px 10px 20px;
    overflow: visible;
}

.searchform-open header {
    height: auto !important;
}

.search-form .search-input-wrap {
    margin-bottom: 8px;
    transition: width 100ms ease 0;
}

.search-form .search-input-group input {
    margin-bottom: 15px;
}
}

@media (max-width: 991px) {
#fb-facets-navigation .nav-stacked > li.active > a .fa:before {
    content: "\f058" !important;
}

#fb-facets-navigation .nav {
    border-bottom: 1px solid #eee;
    margin-left: -15px;
}

#fb-facets-navigation .nav-stacked > li {
    width: 50%;
    float: left;
}

#fb-facets-navigation .nav-stacked > li > a:hover,#fb-facets-navigation .nav-stacked > li.active > a,.nav-stacked > li.active > a:hover,.nav-stacked > li.active > a:hover,.nav-stacked > li.active > a:focus {
    border-color: transparent !important;
    background: transparent;
}

#btn-facet-container {
    display: none;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.search-input-group {
    width: 411px;
}
}

@media (min-width: 768px) {
#toggle-search {
    display: none;
}

.navbar-brand {
    position: fixed;
}

#fb-facets-content {
    padding-top: 6px;
}

#fb-facet-details {
    border-left: 1px solid #e6e6e6;
}

.search-form {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modal-dialog {
    width: 700px;
}
}

@media (min-width: 992px) {
.sidebar-closed > section {
    margin-left: 3px;
}

#fb-facets-navigation {
    width: 20%;
    margin-top: 92px;
}

#fb-facets-content {
    width: 87.333%;
}

#fb-facet-details {
    width: 80%;
}

#fb-facets-navigation,#fb-facet-details {
    transition: width 333ms ease,padding 333ms ease;
}

.facet-search-chart h4,.facet-search-details h4 {
    padding: 25px 15px;
}

.closed #fb-facets-navigation {
    width: .667% !important;
}
.closed #fb-facet-details {
    width: 96.97%;
}
#fb-facets-navigation .nav-stacked > li > a {
    transition: padding 333ms ease 222ms,color 333ms ease 222ms,opacity 222ms ease;
}

.closed #facet-container-wrapper {
    background: #fff;
    -webkit-box-shadow: #f3f3f3 260px 0 0 inset;
    -moz-box-shadow: #f3f3f3 260px 0 0 inset;
    box-shadow: #f3f3f3 260px 0 0 inset;
}

.closed .nav .facetLabel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: 0;
}

#btn-facet-container {
    border: 1px solid transparent;
    box-shadow: 0 0 30px 50px rgba(0,0,0,0) inset;
    color: #aaa;
    cursor: pointer;
    height: 42px;
    line-height: 42px;
    margin: 0 0 0 -16px;
    position: absolute;
    text-align: center;
    transition: box-shadow 333ms ease,color 333ms ease 333ms,border 333ms ease;
    width: 32px;
}

.closed #btn-facet-container {
    background: none repeat scroll 0 0 #fff;
    border-color: #ebebeb #fff #ebebeb #ebebeb;
    z-index: 2;
}

#btn-facet-container:hover {
    background: none repeat scroll 0 0 #eee;
    color: #e42b12;
    -webkit-box-shadow: 0 0 0 1px #fff inset;
    -moz-box-shadow: 0 0 0 1px #fff inset;
    box-shadow: 0 0 0 1px #fff inset;
    border-color: #ebebeb;
    border-color: #dcdcdc;
    background: rgba(0,0,0,0.06);
}

#fb-facets-navigation:before {
    background: none repeat scroll 0 0 transparent;
    color: #888;
    content: "";
    height: 150%;
    left: 0;
    position: absolute;
    top: -100px;
    width: 264px;
}

#my-tab-content {
    width: 117.5%;
}

.closed #fb-facets-navigation .nav-stacked > li > a {
    color: transparent !important;
    padding-left: 16px !important;
}

.modal-dialog {
    width: 930px;
}
}

@media (max-width: 1200px) {
.appliedFacets {
    display: inline-block !important;
    margin: 0 2px 8px;
    padding: 6px 10px;
}

.facet-search-chart > h4 {
    margin-top: 50px;
}

.tablescroll_wrapper {
    overflow: auto !important;
    height: auto !important;
    width: 100% !important;
}

.table-scrollers {
    display: none;
}

.tablescroll_head th {
    width: auto !important;
}

}

@media (min-width: 1200px) {
  .tablescroll_body,.tablescroll_head {
      width: 100% !important;
  }
  
  .tablescroll_wrapper {
      width: 97.5% !important;
  }
  
  .closed #fb-facet-details {
      width: 95.7% !important;
  }
  
  .facet-search-chart,.facet-search-details {
    width: 49.5%;
    margin: 0 !important;
    padding-left: 0;
    margin-right: 0;
    background-color: transparent !important;
    min-height: 800px;
    border-left: 1px solid #ebebeb;
    border-top: none;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .facet-search-details {
    width:56.5%;
  }
  .facet-search-chart {
    width:42.5%;
    float: left;
    padding-right: 0;
  }
  
  .facet-search-details {
    float: right;
  }
  
  .modal-dialog {
    width: 1140px;
  }
  .closed #fb-facet-details {
    width: 97.5% !important;
  }
  #tabbable-content{
    padding: 0 25px 8px;
  }
}

@media (min-width: 1600px) {
.closed #fb-facet-details {
    width: 97.05% !important;
}

#my-tab-content {
    width: 116.2%;
}

.modal-dialog {
    width: 1200px;
}
#fb-facets-navigation {
    width: 12.667%;
}

#fb-facet-details {
    width: 87.333%;
}
.closed #fb-facet-details {
    width: 98.1% !important;
}

}

/* TWBS BOOTSTRAP 3.2: SUPPORT FOR EXTRA LARGE SCREENS */
.visible-xl-block,.visible-xl-inline,.visible-xl-inline-block,.visible-xl {
    display: none !important;
}


@media (min-width: 1600px) {
.container {
    width: 1570px;
}

.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12 {
    float: left;
}

.col-xl-12 {
    width: 100%;
}

.col-xl-11 {
    width: 91.66666667%;
}

.col-xl-10 {
    width: 83.33333333%;
}

.col-xl-9 {
    width: 75%;
}

.col-xl-8 {
    width: 66.66666667%;
}

.col-xl-7 {
    width: 58.33333333%;
}

.col-xl-6 {
    width: 50%;
}

.col-xl-5 {
    width: 41.66666667%;
}

.col-xl-4 {
    width: 33.33333333%;
}

.col-xl-3 {
    width: 25%;
}

.col-xl-2 {
    width: 16.66666667%;
}

.col-xl-1 {
    width: 8.33333333%;
}

.col-xl-pull-12 {
    right: 100%;
}

.col-xl-pull-11 {
    right: 91.66666667%;
}

.col-xl-pull-10 {
    right: 83.33333333%;
}

.col-xl-pull-9 {
    right: 75%;
}

.col-xl-pull-8 {
    right: 66.66666667%;
}

.col-xl-pull-7 {
    right: 58.33333333%;
}

.col-xl-pull-6 {
    right: 50%;
}

.col-xl-pull-5 {
    right: 41.66666667%;
}

.col-xl-pull-4 {
    right: 33.33333333%;
}

.col-xl-pull-3 {
    right: 25%;
}

.col-xl-pull-2 {
    right: 16.66666667%;
}

.col-xl-pull-1 {
    right: 8.33333333%;
}

.col-xl-pull-0 {
    right: auto;
}

.col-xl-push-12 {
    left: 100%;
}

.col-xl-push-11 {
    left: 91.66666667%;
}

.col-xl-push-10 {
    left: 83.33333333%;
}

.col-xl-push-9 {
    left: 75%;
}

.col-xl-push-8 {
    left: 66.66666667%;
}

.col-xl-push-7 {
    left: 58.33333333%;
}

.col-xl-push-6 {
    left: 50%;
}

.col-xl-push-5 {
    left: 41.66666667%;
}

.col-xl-push-4 {
    left: 33.33333333%;
}

.col-xl-push-3 {
    left: 25%;
}

.col-xl-push-2 {
    left: 16.66666667%;
}

.col-xl-push-1 {
    left: 8.33333333%;
}

.col-xl-push-0 {
    left: auto;
}

.col-xl-offset-12 {
    margin-left: 100%;
}

.col-xl-offset-11 {
    margin-left: 91.66666667%;
}

.col-xl-offset-10 {
    margin-left: 83.33333333%;
}

.col-xl-offset-9 {
    margin-left: 75%;
}

.col-xl-offset-8 {
    margin-left: 66.66666667%;
}

.col-xl-offset-7 {
    margin-left: 58.33333333%;
}

.col-xl-offset-6 {
    margin-left: 50%;
}

.col-xl-offset-5 {
    margin-left: 41.66666667%;
}

.col-xl-offset-4 {
    margin-left: 33.33333333%;
}

.col-xl-offset-3 {
    margin-left: 25%;
}

.col-xl-offset-2 {
    margin-left: 16.66666667%;
}

.col-xl-offset-1 {
    margin-left: 8.33333333%;
}

.col-xl-offset-0 {
    margin-left: 0;
}

.visible-xl {
    display: block !important;
}

table.visible-xl {
    display: table;
}

tr.visible-xl {
    display: table-row !important;
}

th.visible-xl,td.visible-xl {
    display: table-cell !important;
}

.visible-xl-block {
    display: block !important;
}

.visible-xl-inline {
    display: inline !important;
}

.visible-xl-inline-block {
    display: inline-block !important;
}

.hidden-xl {
    display: none !important;
}
}

/* Col Resizing for Facets / Panels */
@media (min-width: 768px) and (max-width: 991px) {
.facets {
    -moz-column-width: 550px;
    -webkit-column-width: 550px;
    column-width: 550px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
    .facets {
        -moz-column-width: 450px;
        -webkit-column-width: 450px;
        column-width: 450px;
    }

    html.chrome .facets .facet{ 
    width:49% !important; float:left; margin: 0.25em .5% !important;
   
    }
}

@media (min-width: 1200px) {
.facets {
    -moz-column-width: 550px;
    -webkit-column-width: 550px;
    column-width: 550px;
}
html.chrome .facets .facet{ width:49% !important; float:left; margin: 0.25em .5% !important;}
}

@media (min-width: 1600px) {

html.chrome .facets .facet{ width:32.5% !important; float:left; margin: 0.25em .3% !important;}
}

/* 
Chart Fixes. Fixes bugs in Chrome and Safari. 
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.facet > .panel.chrome-fix {
    display: inline-table;
    table-layout: fixed;
    width: 100%;
}

.response-time-chartdiv {
/* display:block */
}

.response-time-chartdiv > div {
    position: inherit !important;
}

.response-time-chartdiv > div > div {
    position: inherit !important;
}

.response-time-chartdiv svg {
    position: inherit !important;
}

.response-time-chartdiv svg + div {
    visibility: hidden;
    opacity: 0;
}
}
#response-time-chartdiv, #response-time-chartdiv .amcharts-main-div, #response-time-chartdiv .amcharts-chart-div, #response-time-chartdiv svg{
    transform: translateZ(0);
}
html.chrome .facets {
    column-gap: normal !important;
    column-width: auto !important;
    -webkit-column-gap: normal !important;
    -webkit-column-width: auto !important;
}


/* Fix for chrome. Apply to long URLs within tables to prevent non-wrapping of long text and overflow */

.break-word{
    word-break:break-all;
    
}


/* IE10 Fixes */

html[data-useragent*='MSIE 10.0'] .navbar-inverse .navbar-brand, html[data-useragent*='MSIE 10.0'] .navbar-inverse .navbar-brand{ 
    background-position: 0 0; 
}




