/* IE6 FIXES */

* html #fb-facets { left: -190px; }
* html .fb-fade { display: none; }
* html #fb-queryform input { font-size: 1em; }


/* GENERIC STYLES */

#fb-wrapper, #fb-wrapper p, #fb-wrapper h2, #fb-wrapper h3, #fb-matching, #fb-queryform, #fb-advanced { 
        background-color: white; color: black;
        font-family: "Arial", sans-serif; }
#fb-queryform input, #fb-advanced input { font-family: "Arial", sans-serif; }
#fb-wrapper, #fb-queryform, #fb-advanced, #fb-wrapper #fb-summary span { font-size: medium; }
#fb-wrapper p, #fb-wrapper span, #fb-wrapper .facetedSearch { font-size: small; }
#fb-wrapper a, #fb-matching a#fb-advanced-toggle, #fb-matching #fb-help a { 
    color: #1F1FcF;
    text-decoration: underline; }
#fb-results p, #fb-summary, p.fb-page-nav { width: 520px; }


/* RESET STYLES */

#fb-wrapper a img, #fb-initial a img { border: none; }
#fb-wrapper li {
    padding: 0;
    list-style: none;
    background-image: none; }
#fb-wrapper p { margin: 0; padding: 0; }


/* WRAPPER */

#fb-wrapper {
    background-color: white; 
    padding-left: 10px;
    min-width: 730px;
    margin-top: 1em;
    position: relative; }


/* QUERY FORM */

#fb-initial { text-align: center; }
#fb-logo.fb-initial { display: none; }
#fb-queryform.fb-initial #fb-logo { display: none; }
#fb-queryform.fb-initial { 
    width: 400px;
    margin: 0 auto;
    padding-left: 10px; }
#fb-queryform form { margin: 0; padding: 0; }
#fb-queryform {
    padding: 10px 0 10px 0;
    margin-left: 190px;
    position: relative;
}
#fb-logo img { 
    float: left;
    padding: 21px 10px 0 10px;
    border: 0; }
#fb-queryform label, #fb-advanced label { 
    display: block;
    font-size: .9em;
    font-style: italic;
    padding-left: 3px; }
#fb-queryform label[for=facetScope], #fb-queryform-advanced label[for=facetScope] { display: inline; }
#fb-queryform input[type=submit], #fb-queryform-advanced input[type=submit] { font-size: 1em; }
#query, #fb-advanced #query-advanced { 
    width: 300px;
    font-size: 1em;
    padding: 2px 4px; }
#fb-advanced #query-advanced { margin-top: 1px; }
#fb-advanced-note { font-size: 0.85em; }

/* ADVANCED SEARCH FORM */

#fb-advanced { 
    width: 540px;
    padding: 10px 0 0 0;
    margin-left: 190px;
    overflow: hidden;
    position: relative; }
#fb-advanced #fb-queryform-advanced { font-size: medium; }
#fb-advanced h2 {
    margin: 0; padding: 0 0 0 3px;
    font-size: 1.1em; font-style: italic; font-weight: normal; }
#fb-advanced fieldset { overflow: auto; margin-top: 1em; }
#fb-advanced legend  { 
    font-style: italic;
    font-size: .9em;
    font-weight: bold; }
#fb-advanced div div { padding: 1em; }
#fb-advanced .fb-sortby { padding-bottom: 3px; margin-left: -2px; }
#fb-advanced input { width: 150px; }
#fb-advanced span { float: left; width: 170px; } 
#fb-advanced input[type=submit], #fb-advanced-submit {
    width: 100px;
    font-size: medium;
    position: absolute; bottom: 0; right: 3px; }


/* RESULT SUMMARY */

#fb-matching { 
    background-color: #EFEFFF;
    border: 1px solid #BBBBDD;
    border-width: 1px 0;
    margin: 15px -8px 0 -8px;
    padding: 5px 0 5px 18px;
    min-width: 740px;
    font-size: small; }
#fb-matching #fb-utils {
    width: 179px;
    float: right;
    margin-right: 10px; }
#fb-matching #fb-utils a { text-decoration: none; }
#fb-matching #fb-utils a:hover { text-decoration: underline; }
#fb-summary #fb-spelling {
    font-size: medium;
    display: block;
    margin-bottom: 1em; }


/* RESULTS */

#fb-results, .fb-best-bet {
    list-style-type: none;
    width: 700px; margin: 0; padding: 0;
    display: block; }
#fb-results h3, .fb-best-bet h3 {
    font-size: medium;
    font-weight: normal; }
#fb-results h3, .fb-best-bet h3, #fb-results p, .fb-best-bet p { margin: 0; }

#fb-results li, .fb-best-bet {
    padding: 0;
    margin-bottom: 1em;
    width: 500px; }
#fb-results p, #fb-wrapper .fb-best-bet p, cite { font-size: small; padding: 1px 0; }
#fb-results .fb-file-format { padding-bottom: 1px; }
#fb-results cite, .fb-best-bet cite { font-style: normal; color: #008800; }
#fb-results a.fb-cached, #fb-results a.fb-explore, #fb-results .fb-file-format a { color: #7777DD; }

.fb-date, .fb-meta, .fb-file-format span { color: #666666; font-size: small;  }
.fb-meta { display: block; }
.fb-title { font-size: medium; }
#fb-results .fb-filetype { 
    vertical-align: middle;
    font-size: x-small;
    font-weight: bold;
    color: #1F1FcF; }
p.fb-page-nav { text-align: center; margin: 2em 0;}
a.fb-page-nav { padding: .2em; }

#fb-wrapper #fb-no-results li { list-style-type: disc; margin: .5em; }
#fb-wrapper #fb-no-results span { 
    display: block;
    margin-top: 1em;
    font-size: medium; }


/* BEST BETS */

.fb-best-bet { background-color: #FFF8DD; padding: 10px; margin-left: -10px; }
#fb-wrapper .fb-best-bet h3, #fb-wrapper .fb-best-bet p { background-color: #FFF8DD; }

/* QUICK LINKS */

#fb-results ul.fb-quicklinks, #fb-results form.fb-quicklinks-search {
    font-size: small;
    padding-left: 1.5em;
    margin-top: 0.5em;
    width: 100%;
}

#fb-results .fb-quicklinks li {
    display: inline;
    margin-right: 1.5em;
    white-space: nowrap;
}

#fb-results .fb-quicklinks a {
    text-decoration: none;
}

#fb-results form.fb-quicklinks-search input {
    font-size: small;
    vertical-align: middle;
    letter-spacing: normal;
    line-height: normal;
}

#fb-results form.fb-quicklinks-search input[type=text] {
    width: 150px;
    padding: 2px;
}

/* CONTEXTUAL NAVIGATION */

#fb-contextual-navigation h2 { font-weight: bold; }
#fb-contextual-navigation h3, #fb-contextual-navigation h2 { padding-right: 12px; }

/* Ensure long contextual-navigations (eg. URLs) don't break the layout */
.fb-fade { 
    background: url('fb-fade.png') top right repeat-y;
    display: block;
    height: 100%; width: 20px;
    position: absolute; top: 0; right: 0;
    z-index: 5; }

#fb-contextual-navigation {
    width: 180px;
    padding-left: 10px;
    border-left: 1px solid #BBBBDD;
    position: absolute;
    top: 0;
    right: 0; 
    overflow: hidden;
    font-size: small; }

#fb-contextual-navigation h2, #fb-contextual-navigation h3, #fb-facets h3 {
    font-weight: bold;
    font-style: italic; 
    font-size: 1.1em; 
    margin-top: 0;
    margin-bottom: .5em; }

#fb-contextual-navigation h3 { margin: 1em 0 .2em 0; font-weight: normal; }

#fb-contextual-navigation ul, .facetedSearch ul { 
    list-style-type: none; 
    margin: 0; padding: 0; }
#fb-contextual-navigation li { margin-bottom: .1em; }
#fb-contextual-navigation a { text-decoration: none; }
#fb-contextual-navigation .fb-contextual-navigation-more { text-align: right; margin: 5px 15px 0 0; }
#fb-contextual-navigation .fb-contextual-navigation-more a { color: #7777DD; }
#fb-contextual-navigation a:hover, .facetedSearch a:hover { text-decoration: underline; }


/* FACETING */

#fb-wrapper.fb-with-faceting {
    padding-left: 190px;
    border: 1px solid white; }

#fb-matching.fb-with-faceting { padding-left: 200px; }

#fb-facets {
    width: 160px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: small;
    height: 100%;
    overflow: hidden; }

#fb-facets h3 { margin: 0 0 .5em 0; padding-top: 0; }
.facet { margin-bottom: 1em; }
.facetedSearch { margin-bottom: 1em; }
.facetedSearch .category { padding: 0 0 .3em .3em; }
.fb-facet-count { color: #7777DD; }
.moreOrLessCategories { padding-left: 4px; }
.moreOrLessCategories a { color: #7777DD; }

#fb-facets a { text-decoration: none; }
#fb-facets a:hover, .facetedSearch a:hover { text-decoration: underline; }
#fb-facets .category { margin-bottom: 0.25em; }

/* QUERY SUGGESTIONS */

#query:focus { background-color: white; }

#suggestions {
    background: white url('funnelback-powered-by.png') bottom right no-repeat;
    text-align: left;
    position: absolute;
    padding: 0px;
    border: 1px solid gray;
    border-top: 1px solid #EEEEEE;
    background-color: white;
    overflow: hidden;
    display: none;
    z-index: 2;
    width: 310px;
    height: 142px;
    left: 200px;
    bottom: -132px; }

.fb-initial #suggestions { left: 10px; }

#suggestions img { 
    position: absolute; right: 0; bottom: 0;
    z-index: 3; }

#suggestions.l1 { bottom: -44px; height: 49px; }
#suggestions.l2 { bottom: -64px; height: 69px; }
#suggestions.l3 { bottom: -85px; height: 90px; }
#suggestions.l4 { bottom: -106px; height: 111px; }

#suggestions ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0; }

#suggestions li a {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font-size: 0.8em;
    line-height: 19px;
    overflow: hidden;
    color: #222299;
    text-decoration: none; }

#suggestions li.selected a, #suggestions li a:hover {
     cursor: pointer;
     text-decoration: underline;
     background-color: orange; }

/* IE7 fixes */
html>body #suggestions { *bottom: -139px; }
html>body #suggestions.l1 { *bottom: -46px; }
html>body #suggestions { *width: 276px; }
html>body #query.suggestions { *border-bottom: 1px dotted black; }

/* QUERY COMPLETION - Uses jquery-ui */

ul.ui-autocomplete {
    font-family: 'Arial';
    background: white;
    text-align: left;
    border: solid 1px #bbbbdd;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    width: 385px;
}

ul.ui-autocomplete h2 {
    font-size: small;
    background-color: #efefef;
    padding: 5px;
}


ul.ui-autocomplete li.ui-menu-item {
    padding: 0;
    margin: 0;
}

ul.ui-autocomplete li.ui-menu-item a {
    display: block;
    padding: 3px;
}

ul.ui-autocomplete li.ui-menu-item a.description,
ul.ui-autocomplete li.ui-menu-item a.url {
    padding-top: 0px;
}

ul.ui-autocomplete li.ui-menu-item span {
    display: block;
    font-size: small;
    padding-left: 10px;
}

ul.ui-autocomplete li.ui-menu-item a.ui-state-hover {
    background-color: #efefff;
}
