body {
	font-family: Calibri, Arial;
	padding: 0;
	margin: 0;
	color: #555555;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	background-color: #FC9804;
}

h1 {
	font-size: large;
}

nav#main {
	margin: 0;
	padding: .5em;
	text-align: right;
	margin-bottom: 1em;

	background: #eee; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#bbb'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eee,  #bbb); /* for firefox 3.6+ */
	border-bottom: outset 1px;
}

nav#main ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: large;
}

nav#main ul li {
	display: inline;
	margin: 0;
	margin-left: .15em;
	margin-right: .15em;
}

nav#main ul li a {
	padding: .25em;
}

nav#main ul li a:hover {
	background-color: #FC9804;
} 

table {
	width: 90%;
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

table, th, td {
	border: solid 1px grey;
}

th {
	font-weight: normal;
	background-color: lightgrey;
}

span.sparkline {
	font-size: 1px;
}

div#graphdiv {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

span.method {
	font-family: Courier New;
	color: #888888;
}