/*
 * Squiz Content Master - style.css
 * Timothy Tran - Squiz Brisbane
 */

/* 0. bootstrap.min.css overrides
 * 1. layout
 * 2. search form styles
 * 3. header
 * 4. tabs
 * 5. facets
 * 6. graphs
 * 7. query completion
 *
 */

/********** General class rules **********/
/* Hide from both screen readers and browsers */
.hidden {
    display: none !important;
    visibility: hidden !important;
}
/* Hide visually from browsers, but not screen readers */
.visuallyhidden {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* Force element to self clear its children */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
/*zoom: 1;*/ /*Only if you are supporting IE 6/7 (trigger hasLayout), will break CSS validation */
}
/* Default class applied to the body element - remains if no JS present */
.no-js {
}
/* If the table has border="0" applied, js should add .no-border class - turn borders off */
table.no-border, table.no-border th, table.no-border td {
    border: none;
} 

/*
 * 0. bootstrap.min.css overrides
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  box-shadow: none;
  transition: none;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-radius: 0px;
}

/* 
 * 1. layout
 */

#header {
  display: none;
}
#top-content {
  margin-bottom: 20px;
}
#top-content .inner {
  padding: 10px;
}

/* 
 * 2. search form styles
 */

#top-content .search-form {
  /* width: 49%; - No need for responsiveness */
  overflow: hidden;
}

#top-content .search-form form {
  overflow: hidden;
  /* background: #a2b5c5; */
  width: 762px;
}
.search-form .form-field label {
  color: #5d5d5d;
  display: block;
  margin-bottom: 2px;
}
.search-form .form-field.input-text.field-query,
.search-form .form-field.input-text.field-url,
.search-form .form-field.select.field-sort,
.search-form .form-field.input-checkbox.field-facet-scope {
  width: 32%;
  display: block;
  float: left;
}
.search-form .form-field.input-submit.field-submit {
  width: 30%;
  display: block;
  float: left;
}
.search-form .form-field.input-submit.field-submit input {
  background: #555555;
  border: 2px solid #333333;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px 10px;
  text-shadow: 1px 1px #000000;
}
  .search-form .form-field.input-submit.field-submit input:hover {
    background: #666;
  }
.search-form .form-field.input-text.field-query input,
.search-form .form-field.input-text.field-url input,
.search-form .form-field.select.field-sort select {
  width: 85%;
  border: 1px solid #a2b5c5;
}
.search-form .form-field.input-checkbox.field-facet-scope {
  background: none repeat scroll 0 0 #A19DC3;
  margin-right: 21px;
  padding: 1px 0 5px 5px;
  vertical-align: middle;
  width: 28%;
  float: left;
  border: 2px solid #383567;
}
.search-form .form-field.input-checkbox.field-facet-scope input {
  margin-left: 0px;
  border: 1px solid #FFF;
  margin-right: 2px;
}
.search-form .form-field.input-checkbox.field-facet-scope label {
  display: inline;
  position: relative;
  top: 2px;
  color: #FFF;
  text-shadow: 1px 1px #000;
}

/* 
 * 3. header
 */

.top-strip {
  background: #3d3d3d;
  clear: both;
  width: 100%;
  color: #FFF;
  overflow: hidden;
  padding: 5px 0 6px 0;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.65);
  box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.65);  
}
.top-strip h1 {
  background: url(sm-icon.png) 0px 0px no-repeat;
  padding-left: 48px;
  padding-right: 10px;
  padding-bottom: 2px;
  font-size: 1.5em;
  display: block;
  float: right;
  line-height: normal;
  margin: 0;
}
.top-strip h1 span {
  color: #838383;
}
.top-logo {
  display: block;
  float: left;
}
.top-logo img {
  margin: 0 25px 0 10px;
  vertical-align: middle;
}
  body.after-search .top-logo img {
    margin: 0 15px 0 15px;
  }

/* 
 * 4. tabs
 */

.nav,
.nav-tabs > li {
  margin-bottom: 0px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: #eee;
}
.nav-tabs > li > a {
  border-radius: 0;
  padding: 7px 12px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-radius: 0;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #999;
}
.nav-tabs > li > a, .nav-pills > li > a {
  margin-right: 0;
  margin-left: 10px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #FFF;
}

.lvl-1.nav > li > a:hover,
.lvl-1.nav > li > a:focus {
  background: #FFF;
}

.lvl-1.nav-tabs {
  border-bottom: none;
  padding-top: 15px;
  background: #a2b5c5;
  /*
  -webkit-box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow:    0px -2px 2px 0px rgba(50, 50, 50, 0.65);
  box-shadow:         0px -2px 2px 0px rgba(50, 50, 50, 0.65); 
  */ 
}

.lvl-1.nav-tabs > li > a {
  border-top: 5px solid #94a3b0;
  border-left: none;
  border-right: none;
  border-bottom: none;  
  color: #333;
  background: #94a3b0;
}

.lvl-1.nav-tabs > li > a:hover,
.lvl-1.nav-tabs > li > a:focus {
  border-radius: 0;
  border-top: 5px solid #333;
  border-left: none;
  border-right: none;
  border-bottom: none;
  color: #005580;
  background: #FFF;
}

.lvl-1.nav-tabs > .active > a, .lvl-1.nav-tabs > .active > a:hover, .lvl-1.nav-tabs > .active > a:focus {
  border-top: 5px solid #383567;
  border-left: none;
  border-right: none;
  border-bottom: none;
  color: #000;
  background: #FFF;
}

.tabbable.lvl-2 {
  background: #DDD;
  padding: 0px 10px 10px 10px;
}

.lvl-2.nav-tabs {
  border-bottom: none;
  padding-top: 10px; 
  background: #DDD;
}
.lvl-2.nav-tabs > li > a {
  border-top: 5px solid #CCC;
  border-left: none;
  border-right: none;
  border-bottom: none;  
  color: #333;
  background: #CCC;
}
.lvl-2.nav-tabs > li > a:hover,
.lvl-2.nav-tabs > li > a:focus {
  border-radius: 0;
  border-top: 5px solid #AAA;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background: #FFF;
  color: #444;
}
.lvl-2.nav-tabs > .active > a, .lvl-2.nav-tabs > .active > a:hover, .lvl-2.nav-tabs > .active > a:focus {
  border-top: 5px solid #a2b5c5;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background: #FFF;
}
.tab-summary {
  padding: 10px;
  background: #DDD;
  margin-bottom: 0px;
  overflow: hidden; 
}
  .tab-summary .inner {
    border-top: 5px solid #D2CFC0;
    background: #FFF;
    padding: 10px;
    overflow: hidden;

    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.65);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.65);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.65);     
  }

.tab-summary h3 {
  font-size: 1.3em;
  line-height: normal;
  margin: 0 0 0.5em 0;
}
.tab-summary p {
  margin: 0 0 0.5em 0;
  line-height: normal;
  font-size: 0.9em;
  color: #000;
}
.tab-summary p span {
  color: #666666;
  display: block;
  float: left;
  width: 150px;
}
.tab-content {
  background: #FFF;
  padding: 10px;
}
.lvl-2.tab-content {
  border-left: 1px solid #BBB;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.65);
  -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.65);
  box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.65);    
}

/* 
 * 5. facets
 */
.tab-content .facet {

}
.tab-content .facet .facet-container {
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 5px;
  border-top: 5px solid #D2CFC0;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
.tab-content .facet .facet-header {
  overflow: hidden;
  padding: 0px 0 5px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD;
}
.tab-content .facet .facet-header h4 {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}
.tab-content .facet .facet-header p {
  display: block;
  float: left;
  margin: 0;
}
.tab-content .facet .facet-container .category {
  float: left;
  overflow: hidden;
  padding: 0 10px 10px 0;
  width: 18%;
}
.tab-content .facet .facet-container .category .categoryCount {
  background: #eee;
  border: 1px solid #eee;
  border-radius: 7px;
  font-size: 1em;
  padding: 2px 5px;  
}

/* 
 * 6. graphs
 */

#metadata-health-chart {
  width: 800px;
  height: 500px;
}
  body.after-search #metadata-health-chart {
    display: none;
  }
#content-age-chart {
  width: 800px;
  height: 500px;
}
  body.after-search #content-age-chart {
    display: none;
  }


/*
 * 7. query completion
 */

.ui-helper-hidden-accessible,
.ui-help-hidden { display: none; }

.ui-menu { background-color: white; }

.ui-menu { width: 200px; border: solid 1px #e6e6e6;}
.ui-menu, .ui-menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ui-menu-item a, li.ui-autocomplete-category { display: block; padding: 2px; }
li.ui-autocomplete-category { background-color: #e6e6e6; font-weight: bold;}

.ui-state-focus {
  background-color: #428bca;
  color: white;
} 
